:root {
    --margin-left: 25px;
    --margin-right: 25px;
}

body {
    background-color: darkolivegreen;
    color: black;
    margin: 0px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: antiquewhite;
    
}

header {
    font-size: 35px;
    margin-left: var(--margin-left);
}

.links {
    display: flex;
}

.links li {
    margin-right: var(--margin-right);
    list-style: none;
}

.section {
   margin-left: var(--margin-left);
   margin-right: var(--margin-right);

}

h1#aboutus {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
    font-size: 35px;
    margin-right: 90px;
   
}

section.section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

.float {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.float p {
    float: right;
    width: 50%;
    display: flex;
    font-size: 25px;
    margin-right: 80px;
}

div.floatright {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.floatleft {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
    
   
}

p.floatleft {
    float: left;
    display: flex;
    font-size: 25px;

    
}

div.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

h2#consumercontact {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;

}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    height: 300px;
    box-sizing: border-box;
    width: 50%;
    background-color: antiquewhite;
    box-shadow: 5px 5px 5px 5px black;
    border-radius: 20px;



}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: column;
}

h2#contactus {
    border-bottom: 5px solid black;
    width: 681px;
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: antiquewhite;  
}

h3 {
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    
  


}

div.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input.Submit:hover {
    background-color: darkolivegreen;
}



